# 7.Working with Relation Using SQL

In [1]:
# SQLite3教程参考：https://www.runoob.com/sqlite/sqlite-python.html
import pandas as pd
import sqlite3

In [2]:
# 连接数据库
babyname = sqlite3.connect('data/babyname.db')

In [17]:
# 创建表
company = babyname.cursor()
company.execute('''CREATE TABLE COMPANY
       (ID INT PRIMARY KEY     NOT NULL,
       NAME           TEXT    NOT NULL,
       AGE            INT     NOT NULL,
       ADDRESS        CHAR(50),
       SALARY         REAL);''')
babyname.commit()

OperationalError: table COMPANY already exists

In [22]:
# INSERT操作
company = babyname.cursor()
company.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )")

company.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )")

company.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )")

company.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )")
babyname.commit()

IntegrityError: UNIQUE constraint failed: COMPANY.ID

In [3]:
# SELECT操作
company = babyname.cursor()
cursor = company.execute("SELECT id, name, address, salary FROM COMPANY")

In [4]:
# UPDATE操作
company.execute("UPDATE COMPANY set SALARY = 2500 where ID=1")
babyname.commit()

In [5]:
# DELETE操作
company.execute("DELETE from COMPANY where ID=2;")
babyname.commit()

In [6]:
babyname.close()

In [11]:
# 使用pandas操作数据库
babyname = sqlite3.connect('data/babyname.db')
babynames = babyname.cursor()
babynames.execute('''CREATE TABLE babynames
       (Name          TEXT,
       Sex            TEXT,
       Count          INT,
       Year           INT);''')

OperationalError: table babynames already exists

In [ ]:
# 删除表
# babynames.execute('''DROP TABLE babynames''')

In [9]:
# 向数据库中导入csv文件
# 读取csv文件并将其转换为列表格式
babynames20102022 = pd.read_csv('data/babynames20102022.csv')
values = babynames20102022.values.tolist()

# babyname.executemany("INSERT INTO babynames VALUES('%s','%s','%s','%s','%s')", values)

In [10]:
s = ','.join(['%s' for _ in range(len(babynames20102022.columns))])
# executemany批量操作 插入数据 批量操作比逐个操作速度快很多
babynames.executemany('INSERT INTO {} VALUES ({})'.format(babynames,s), values)

OperationalError: near "<": syntax error